In [2]:
import pandas as pd
%matplotlib inline
from matplotlib import pyplot as plt
#from sklearn.datasets import make_classification
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [4]:
#load the dataset into a panda dataframe
df = pd.read_csv("Resources/carvana_carvana_car_sold-2022-08.csv", index_col = False)
df

,vehicle_id,stock_number,year,make,model,miles,trim,sold_price,discounted_sold_price,partnered_dealership,delivery_fee,earliest_delivery_date,sold_date
0,2270123,2001646447,2014,Volkswagen,Jetta,53238,2.0L S,15990,15990,False,1490,2022-09-09T21:34:31.376Z,2022-08-31
1,2298228,2001690283,2015,Chevrolet,Volt,112160,base,17590,17590,False,790,2022-09-09T22:04:42.555Z,2022-08-31
2,2463098,2001933427,2015,Ford,Focus,57046,SE,14990,14990,False,0,2022-09-06T21:35:20.3145311Z,2022-08-31
3,2488480,2001977729,2013,Honda,Odyssey,103874,EX-L,18990,18990,False,490,2022-09-06T22:04:19.711928Z,2022-08-31
4,2183400,2001531442,2015,Chevrolet,Cruze,86301,1LT,13990,13990,False,790,2022-09-09T22:05:19.367Z,2022-08-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...
44360,2116890,2001435635,2012,Hyundai,Accent,96252,SE,13590,13590,False,1490,2022-08-08T18:06:28.517Z,2022-08-01
44361,2267923,2001638155,2013,Lincoln,MKX,40491,base,23590,23590,False,490,2022-08-08T21:34:22.412Z,2022-08-01
44362,2321468,2001707909,2012,Honda,Civic,72228,LX,14990,14990,False,490,2022-08-08T21:38:00.139Z,2022-08-01
44363,2326171,2001718043,2011,Lexus,LS,79020,LS 460 L,26590,26590,False,190,2022-08-07T21:28:54.2596276Z,2022-08-01
44364,2363271,2001785316,2015,Lincoln,Navigator,78203,base,31990,31990,False,190,2022-08-08T15:28:44.592Z,2022-08-01

In [5]:
df_new = df.dropna()
df_new

,vehicle_id,stock_number,year,make,model,miles,trim,sold_price,discounted_sold_price,partnered_dealership,delivery_fee,earliest_delivery_date,sold_date
0,2270123,2001646447,2014,Volkswagen,Jetta,53238,2.0L S,15990,15990,False,1490,2022-09-09T21:34:31.376Z,2022-08-31
1,2298228,2001690283,2015,Chevrolet,Volt,112160,base,17590,17590,False,790,2022-09-09T22:04:42.555Z,2022-08-31
2,2463098,2001933427,2015,Ford,Focus,57046,SE,14990,14990,False,0,2022-09-06T21:35:20.3145311Z,2022-08-31
3,2488480,2001977729,2013,Honda,Odyssey,103874,EX-L,18990,18990,False,490,2022-09-06T22:04:19.711928Z,2022-08-31
4,2183400,2001531442,2015,Chevrolet,Cruze,86301,1LT,13990,13990,False,790,2022-09-09T22:05:19.367Z,2022-08-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...
44360,2116890,2001435635,2012,Hyundai,Accent,96252,SE,13590,13590,False,1490,2022-08-08T18:06:28.517Z,2022-08-01
44361,2267923,2001638155,2013,Lincoln,MKX,40491,base,23590,23590,False,490,2022-08-08T21:34:22.412Z,2022-08-01
44362,2321468,2001707909,2012,Honda,Civic,72228,LX,14990,14990,False,490,2022-08-08T21:38:00.139Z,2022-08-01
44363,2326171,2001718043,2011,Lexus,LS,79020,LS 460 L,26590,26590,False,190,2022-08-07T21:28:54.2596276Z,2022-08-01
44364,2363271,2001785316,2015,Lincoln,Navigator,78203,base,31990,31990,False,190,2022-08-08T15:28:44.592Z,2022-08-01

In [6]:
df_car = df_new.drop(columns = ["vehicle_id", "stock_number","discounted_sold_price","partnered_dealership","earliest_delivery_date","sold_date"])
df_car

       year        make      model   miles      trim  sold_price  delivery_fee
0      2014  Volkswagen      Jetta   53238    2.0L S       15990          1490
1      2015   Chevrolet       Volt  112160      base       17590           790
2      2015        Ford      Focus   57046        SE       14990             0
3      2013       Honda    Odyssey  103874      EX-L       18990           490
4      2015   Chevrolet      Cruze   86301       1LT       13990           790
...     ...         ...        ...     ...       ...         ...           ...
44360  2012     Hyundai     Accent   96252        SE       13590          1490
44361  2013     Lincoln        MKX   40491      base       23590           490
44362  2012       Honda      Civic   72228        LX       14990           490
44363  2011       Lexus         LS   79020  LS 460 L       26590           190
44364  2015     Lincoln  Navigator   78203      base       31990           190

[44365 rows x 7 columns]

In [7]:
df_car.dtypes

year             int64
make            object
model           object
miles            int64
trim            object
sold_price       int64
delivery_fee     int64
dtype: object

In [8]:
df_car.duplicated().sum()

8

In [9]:
Final_car_price = df_car.drop_duplicates()
Final_car_price_pred = pd.DataFrame(Final_car_price)
Final_car_price_pred

       year        make      model   miles      trim  sold_price  delivery_fee
0      2014  Volkswagen      Jetta   53238    2.0L S       15990          1490
1      2015   Chevrolet       Volt  112160      base       17590           790
2      2015        Ford      Focus   57046        SE       14990             0
3      2013       Honda    Odyssey  103874      EX-L       18990           490
4      2015   Chevrolet      Cruze   86301       1LT       13990           790
...     ...         ...        ...     ...       ...         ...           ...
44360  2012     Hyundai     Accent   96252        SE       13590          1490
44361  2013     Lincoln        MKX   40491      base       23590           490
44362  2012       Honda      Civic   72228        LX       14990           490
44363  2011       Lexus         LS   79020  LS 460 L       26590           190
44364  2015     Lincoln  Navigator   78203      base       31990           190

[44357 rows x 7 columns]

In [11]:
#df = Final_car_price_pred.sample(10000, replace=False)
#final_df = pd.DataFrame(df)
final_df

,year,make,model,miles,trim,sold_price,delivery_fee
15385,2010,MAZDA,MX-5 Miata,73678,Grand Touring,18590,1490
34961,2020,Toyota,4Runner,31196,TRD Off-Road,43590,190
35497,2015,Lexus,RC,43697,RC 350,34590,0
39410,2013,MINI,Paceman,39323,Cooper,18990,590
38549,2020,Volvo,XC40,52143,T5 Inscription,39990,490
...,...,...,...,...,...,...,...
6963,2015,Ford,Fusion Energi,74940,Plug-In Hybrid SE Luxury,17990,490
14413,2019,Kia,Soul,50754,+,18289,0
40498,2019,Alfa Romeo,Stelvio,28999,Ti,36990,190
7564,2013,Scion,tC,66000,Hatchback,16590,1490
12442,2020,Chevrolet,Trax,40777,LS,19990,0

# Fit, Model, Predict

In [12]:
# Create data
X = Final_car_price_pred[["year","make","model","miles","trim","delivery_fee"]]

X_dummies = pd.get_dummies(X)
print(X_dummies.columns)
X_dummies

Index(['year', 'miles', 'delivery_fee', 'make_Acura', 'make_Alfa Romeo',
       'make_Audi', 'make_BMW', 'make_Buick', 'make_Cadillac',
       'make_Chevrolet',
       ...
       'trim_xDrive30e', 'trim_xDrive30i', 'trim_xDrive35i',
       'trim_xDrive35i Premium', 'trim_xDrive35i Sport Activity',
       'trim_xDrive40e', 'trim_xDrive40e iPerformance', 'trim_xDrive40i',
       'trim_xDrive45e', 'trim_xDrive50i'],
      dtype='object', length=2319)

,year,miles,delivery_fee,make_Acura,make_Alfa Romeo,make_Audi,make_BMW,make_Buick,make_Cadillac,make_Chevrolet,...,trim_xDrive30e,trim_xDrive30i,trim_xDrive35i,trim_xDrive35i Premium,trim_xDrive35i Sport Activity,trim_xDrive40e,trim_xDrive40e iPerformance,trim_xDrive40i,trim_xDrive45e,trim_xDrive50i
0,2014,53238,1490,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2015,112160,790,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,2015,57046,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2013,103874,490,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2015,86301,790,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44360,2012,96252,1490,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44361,2013,40491,490,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44362,2012,72228,490,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44363,2011,79020,190,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44364,2015,78203,190,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
y = Final_car_price_pred["sold_price"]
y

0        15990
1        17590
2        14990
3        18990
4        13990
         ...
44360    13590
44361    23590
44362    14990
44363    26590
44364    31990
Name: sold_price, Length: 44357, dtype: int64

# Random Forest Classifier

In [15]:
from sklearn.ensemble import RandomForestRegressor
X_train, X_test, y_train, y_test = train_test_split(X_dummies, y, random_state=1)
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [ ]:
clf = RandomForestClassifier(random_state=1, n_estimators=300).fit(X_train_scaled, y_train)
print(f'Training Score: {clf.score(X_train_scaled, y_train)}')
print(f'Testing Score: {clf.score(X_test_scaled, y_test)}')

Remove the "sold_price" column from the dataset to use Unsupervised Machine Learning Algorithms.

## SVC Model

In [ ]:
# Create the SVC model
from sklearn.svm import SVC 
model = SVC(kernel='linear')
model

In [ ]:
param_grid = {'C': [1, 5, 10, 50],
              'gamma': [0.0001, 0.0005, 0.001, 0.005]}
param_grid

In [ ]:
from sklearn.model_selection import GridSearchCV
grid_clf = GridSearchCV(model, param_grid, verbose=1)

In [ ]:
# Fit the model by using the grid search classifier. 
# This will take the SVC model and try each combination of parameters.
grid_clf.fit(X_train_scaled, y_train)

In [ ]:
# List the best parameters for this dataset
print(grid_clf.best_params_)

In [ ]:
# List the best score
print(grid_clf.best_score_)

# Logistic Regression Model

In [ ]:
# Train a Logistic Regression model print the model score
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

In [ ]:
classifier.fit(X_train_scaled, y_train)

In [ ]:
print(f"Training Data Score: {classifier.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test_scaled, y_test)}")

# Linear Regression

In [ ]:
# Create the model by using LinearRegression.
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [ ]:
# Fit the model to the training data, and calculate the scores for the training and testing data.

model.fit(X_train_scaled, y_train)
training_score = model.score(X_train_scaled, y_train)
testing_score = model.score(X_test_scaled, y_test)

print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Negative Training Score indicates that model is performing worse than just random guessing.

In [ ]:
# Plot the residuals for the training and testing data.

plt.scatter(model.predict(X_train_scaled), model.predict(X_train_scaled) - y_train, c="blue", label="Training Data")
plt.scatter(model.predict(X_test_scaled), model.predict(X_test_scaled) - y_test, c="orange", label="Testing Data")
plt.legend()
plt.hlines(y=0, xmin=y.min(), xmax=y.max())
plt.title("Residual Plot")
plt.show()

# LASSO Model

In [ ]:
%matplotlib inline
from matplotlib import pyplot as plt
from sklearn.datasets import make_regression
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [ ]:
reg = LinearRegression().fit(X_train_scaled, y_train)
reg.score(X_test_scaled, y_test)

In [ ]:
reg = Lasso().fit(X_train_scaled, y_train)
reg.score(X_test_scaled, y_test)

In [ ]:
from sklearn.feature_selection import SelectFromModel

In [ ]:
from sklearn.feature_selection import SelectFromModel
sel = SelectFromModel(reg)
sel.fit(X_train_scaled, y_train)

In [ ]:
X_selected_train, X_selected_test, y_train, y_test = train_test_split(sel.transform(X_dummies), y, random_state=1)
scaler = StandardScaler().fit(X_selected_train)
X_selected_train_scaled = scaler.transform(X_selected_train)
X_selected_test_scaled = scaler.transform(X_selected_test)

In [ ]:
reg = LinearRegression().fit(X_selected_train_scaled, y_train)
reg.score(X_selected_test_scaled, y_test)

# Familar Regressors

In [ ]:
%matplotlib inline
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [ ]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor, ExtraTreesRegressor, AdaBoostRegressor
from sklearn.svm import SVR

In [ ]:
def test_model(model, X_dummies):
    X_train_scaled, X_test_scaled, y_train, y_test = X_dummies
    reg = model.fit(X_train_scaled, y_train)
    print(f'Model: {type(reg).__name__}')
    print(f'Train score: {reg.score(X_train_scaled, y_train)}')
    print(f'Test Score: {reg.score(X_test_scaled, y_test)}\n')
    plt.show()

In [ ]:
test_model(LinearRegression(), data)

test_model(KNeighborsRegressor(), data)
test_model(RandomForestRegressor(), data)
test_model(ExtraTreesRegressor(), data)
test_model(AdaBoostRegressor(), data)
test_model(SVR(C=1.0, epsilon=0.2), data)

# Ridge Model